<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Patient Database</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .boxplot-container {
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
            display: inline-block; /* Dodaj inline-block, aby wykresy były obok siebie */
        }
        .statistics-container {
            margin-bottom: 20px;
        }
        .chart-container {
            width: 400px; /* Szerokość wykresów kolowych i histogramów */
            height: 400px; /* Wysokość wykresów kolowych i histogramów */
            display: inline-block; /* Dodaj inline-block, aby wykresy były obok siebie */
            margin-right: 20px; /* Margines między wykresami */
        }
    </style>
</head>
<body>
<h1>Generated Patient Database</h1>
<table border="1">
    <thead>
    <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for record in data %}
    <tr>
        {% for attribute in record %}
        <td>{{ attribute }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Modify Data</h2>
<form method="POST" action="/generate">
    <input type="hidden" name="prompt" value="{{ prompt }}">
    <input type="hidden" name="number_of_records" value="{{ total_records }}">
    <button type="submit">Regenerate data</button>
</form>

<form method="POST" action="/generate">
    <input type="hidden" name="prompt" value="{{ prompt }}">
    <input type="hidden" name="number_of_records" value="{{ total_records }}">
    <input type="text" id="new_column_name" name="new_column_name">
    <button type="submit">Add new column</button>
</form>
<form method="POST" action="/generate">
    <input type="hidden" name="prompt" value="{{ prompt }}">
    <input type="hidden" name="number_of_records" value="{{ total_records }}">
    <input type="text" id="new_entries" name="new_entries">
    <button type="submit">Generate more entries</button>
</form>
<h2>Box Plots and Statistics</h2>
<div id="boxplot-statistics-container">
    <!-- Tutaj będą umieszczone box ploty -->
</div>

<h2>Pie Charts and Histograms</h2>
<div id="pie-histograms-container">
    <!-- Tutaj będą umieszczone wykresy kołowe i histogramy -->
</div>

<script>
    var headers = document.querySelectorAll('thead th');
    var dataRows = document.querySelectorAll('tbody tr');
    var boxplotStatisticsContainer = document.getElementById('boxplot-statistics-container');
    var pieHistogramsContainer = document.getElementById('pie-histograms-container');
    var columnsWithBoxplot = new Set(); // Zbiór przechowujący nazwy kolumn, dla których wykonano już boxplot

    headers.forEach(function(header, index) {
        var columnName = header.innerText;
        var columnValues = [];
        dataRows.forEach(function(row) {
            var cell = row.cells[index];
            var value = cell.innerText.trim(); // Pobierz tekst z komórki i usuń białe znaki z początku i końca
            columnValues.push(value);
        });

        var allNumeric = columnValues.every(function(value) {
            return !isNaN(parseFloat(value)); // Sprawdź, czy wszystkie wartości w kolumnie są liczbami
        });

        if (allNumeric && columnValues.length > 0) {
            // Generuj boxplot dla danych liczbowych
            var numericValues = columnValues.map(function(value) {
                return parseFloat(value);
            }).filter(function(value) {
                return !isNaN(value); // Filtrowanie wartości liczbowych
            });

            var boxplotData = [{
                y: numericValues,
                type: 'box',
                name: columnName
            }];

            var layout = {
                title: 'Box Plot for ' + columnName,
                yaxis: {
                    title: 'Values',
                    tickfont: {
                        family: 'Arial, sans-serif',
                        size: 12,
                        color: '#333'
                    },
                    titlefont: {
                        family: 'Arial, sans-serif',
                        size: 14,
                        color: '#555',
                        weight: 'bold'
                    }
                },
                titlefont: {
                    family: 'Arial, sans-serif',
                    size: 16,
                    color: '#666',
                    weight: 'bold'
                }
            };

            var plotContainer = document.createElement('div');
            plotContainer.classList.add('boxplot-container');
            boxplotStatisticsContainer.appendChild(plotContainer);

            Plotly.newPlot(plotContainer, boxplotData, layout);

            // Obliczamy statystyki dla boxplotów
            var average = calculateColumnAverage(numericValues);
            var median = calculateColumnMedian(numericValues);
            var mode = calculateColumnMode(numericValues);
            var standardDeviation = calculateColumnStandardDeviation(numericValues);

            // Tworzymy kontener dla statystyk boxplotu
            var statisticsContainer = document.createElement('div');
            statisticsContainer.classList.add('statistics-container');
            statisticsContainer.innerHTML = '<strong>Statistics for ' + columnName + ':</strong><br>' +
                'Average: ' + (isNaN(average) ? 'N/A' : average.toFixed(2)) + '<br>' +
                'Median: ' + (isNaN(median) ? 'N/A' : median.toFixed(2)) + '<br>' +
                'Mode: ' + (isNaN(mode) ? 'N/A' : mode) + '<br>' +
                'Standard Deviation: ' + (isNaN(standardDeviation) ? 'N/A' : standardDeviation.toFixed(2)) + '<br><br>';

            // Dodajemy statystyki do kontenera
            plotContainer.appendChild(statisticsContainer);

            // Dodaj nazwę kolumny do zbioru, jeśli wykonano dla niej boxplot
            columnsWithBoxplot.add(columnName);

        } else {
            // Generuj wykres kołowy lub histogram dla danych tekstowych, jeśli nie ma jeszcze boxplota dla tej kolumny
            if (!columnsWithBoxplot.has(columnName)) {
                var uniqueValues = [...new Set(columnValues)];
                if (uniqueValues.length === 2) {
                    // Generuj wykres kołowy dla dwóch unikalnych wartości tekstowych
                    var ctx = document.createElement('canvas').getContext('2d');
                    ctx.canvas.width = 400;
                    ctx.canvas.height = 400;

                    var colors = ['rgba(0, 128, 0, 0.5)', 'rgba(255, 165, 0, 0.5)'];
                    var data = uniqueValues.map(function(value, i) {
                        return {
                            label: value.length > 16 ? value.substring(0, 16) + "..." : value,
                            value: columnValues.filter(function(v) { return v === value; }).length,
                            backgroundColor: colors[i % colors.length]
                        };
                    });

                    var pieChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: data.map(function(d) { return d.label; }),
                            datasets: [{
                                data: data.map(function(d) { return d.value; }),
                                backgroundColor: data.map(function(d) { return d.backgroundColor; })
                            }]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Pie Chart for ' + columnName,
                                    font: {
                                        size: 16,
                                        weight: 'bold'
                                    }
                                },
                                legend: {
                                    display: true,
                                    position: 'bottom'
                                }
                            },
                            aspectRatio: 1,
                            responsive: false
                        }
                    });

                    var chartContainer = document.createElement('div');
                    chartContainer.classList.add('chart-container');
                    chartContainer.appendChild(ctx.canvas);
                    pieHistogramsContainer.appendChild(chartContainer);

                } else {
                    // Generuj histogram dla więcej niż dwóch unikalnych wartości tekstowych
                    var frequencyMap = {};
                    columnValues.forEach(function(value) {
                        frequencyMap[value] = (frequencyMap[value] || 0) + 1;
                    });

                    var labels = Object.keys(frequencyMap);
                    var frequencies = Object.values(frequencyMap);

                    var ctx = document.createElement('canvas').getContext('2d');
                    ctx.canvas.width = 400;
                    ctx.canvas.height = 400;

                    var histogramLabels = labels.map(function(label) {
                        return label.length > 16 ? label.substring(0, 16) + "..." : label;
                    });

                    var histogramChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: histogramLabels,
                            datasets: [{
                                label: 'Frequency',
                                data: frequencies,
                                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: 'Histogram for ' + columnName,
                                    font: {
                                        size: 16,
                                        weight: 'bold'
                                    }
                                },
                                legend: {
                                    display: false
                                }
                            },
                            aspectRatio: 1,
                            responsive: false
                        }
                    });

                    var chartContainer = document.createElement('div');
                    chartContainer.classList.add('chart-container');
                    chartContainer.appendChild(ctx.canvas);
                    pieHistogramsContainer.appendChild(chartContainer);
                }
            }
        }
    });

    function calculateColumnAverage(values) {
        var sum = values.reduce((acc, val) => acc + val, 0);
        return sum / values.length || NaN;
    }

    function calculateColumnMedian(values) {
        values.sort((a, b) => a - b);
        var middle = Math.floor(values.length / 2);
        if (values.length % 2 === 0) {
            return (values[middle - 1] + values[middle]) / 2 || NaN;
        } else {
            return values[middle] || NaN;
        }
    }

    function calculateColumnMode(values) {
        var frequencyMap = {};
        values.forEach(function(value) {
            frequencyMap[value] = frequencyMap[value] ? frequencyMap[value] + 1 : 1;
        });
        var maxFrequency = Math.max(...Object.values(frequencyMap));
        return Object.keys(frequencyMap).find(key => frequencyMap[key] === maxFrequency) || NaN;
    }

    function calculateColumnStandardDeviation(values) {
        var mean = calculateColumnAverage(values);
        var variance = values.reduce((acc, val) => acc + Math.pow(val - mean, 2), 0) / values.length;
        return Math.sqrt(variance) || NaN;
    }
</script>



<a href="/download_csv?csv_file={{ csv_file }}">Download CSV</a>
<br>
<a href="/download_pdf?pdf_file={{ pdf_file }}">Download PDF</a>

</body>
</html>